---
import { AboutMeIcon } from "@/components/illustrations/about-me";
import { BorderBeam } from "@/components/ui/border-beam";
---

<section
  class="grid lg:grid-cols-2 grid-cols-1 place-items-center items-center pt-32 center"
  id="about-me"
>
  <div class="relative rounded-lg pb-4">
    <AboutMeIcon className="w-[21.4375rem] lg:w-auto h-auto" />
    <BorderBeam
      size={250}
      duration={12}
      delay={9}
      borderWidth={2}
      colorFrom="#000"
      colorTo="#DDD"
    />
  </div>
  <div class="flex flex-col gap-5">
    <div class="flex gap-4 py-5">
      <p class="lg:text-5xl text-4xl text-foreground">About</p>
      <p class="lg:text-5xl text-4xl font-extrabold text-foreground">Me</p>
    </div>
    <div
      class="flex flex-col justify-center items-start relative gap-5 max-w-[610px]"
    >
      <p class="text-base text-zinc-500">
        I'm a passionate, full stack development (React.js &#x26; Node.js) and
        all web ecosystem. I'm very enthusiastic about bringing the technical
        and visual aspects of digital products to life. I'm very excited about
        bringing to life digital products that can both impact and bring a good
        experience to users. Writing readable, high-performance code is
        important to me.
      </p>
      <p class="text-base text-zinc-500">
        I began my journey as a web developer in 2019, and since then, I've
        continued to grow and evolve as a developer, taking on new challenges
        and learning the latest technologies along the way. I spend my day
        studying and developing myself by building cutting-edge web applications
        using modern technologies such as Next.js, TypeScript, Nestjs,
        Tailwindcss, Supabase and much more.
      </p>
      <p class="text-base text-zinc-500">
        When I'm not in full developer mode, you can find me reading, playing my
        guitar, or enjoying some free time. You can follow me on Twitter where I
        share technology-related information, or you can follow me on GitHub.
      </p>
    </div>
  </div>
</section>
