---
import { AboutMeIcon } from "@/components/illustrations/about-me";
import { BorderBeam } from "@/components/ui/border-beam";

import { useTranslation, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<section
  class="grid lg:grid-cols-2 grid-cols-1 place-items-center items-center pt-32 center"
  id="about-me"
>
  <div class="relative rounded-lg pb-4">
    <AboutMeIcon className="w-[21.4375rem] lg:w-auto h-auto" />
    <BorderBeam
      size={250}
      duration={12}
      delay={9}
      borderWidth={2}
      colorFrom="#000"
      colorTo="#DDD"
    />
  </div>
  <div class="flex flex-col gap-5">
    <div class="flex gap-4 py-5">
      <p class="lg:text-5xl text-4xl text-foreground">{t("about.about")}</p>
      <p class="lg:text-5xl text-4xl font-extrabold text-foreground">
        {t("about.me")}
      </p>
    </div>
    <div
      class="flex flex-col justify-center items-start relative gap-5 max-w-[610px]"
    >
      <p class="text-base text-zinc-500">
        {t("about.description1")}
      </p>
      <p class="text-base text-zinc-500">
        {t("about.description2")}
      </p>
      <p class="text-base text-zinc-500">
        {t("about.description3")}
      </p>
    </div>
  </div>
</section>
