---
import { HeroIcon } from "@/components/illustrations/hero";
import SocialCardLink from "@/components/SocialCardLink.astro";
import { AnimatedShinyText } from "@/components/ui/animated-shiny-text";
import { Github, Linkedin, Twitter } from "lucide-react";
import { useTranslation, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<section
  class="grid grid-cols-1 lg:grid-cols-2 lg:max-w-screen-xl lg:mt-16 mt-10 items-center place-items-center center"
>
  <div class="lg:order-1 order-2 flex flex-col h-full">
    <div
      class="flex flex-col max-w-[600px] overflow-hidden gap-12 py-5 my-auto"
    >
      <div class="flex flex-col relative gap-8">
        <div
          class="flex flex-col lg:gap-5 gap-2 animate-fade opacity-0 fill-mode-forwards"
        >
          <div
            class="flex lg:text-5xl text-3xl flex-wrap relative lg:gap-4 gap-3"
          >
            <p class="text-foreground">{t("hero.welcome")}</p>
            <AnimatedShinyText
              className="transition ease-out hover:text-neutral-600 hover:duration-300 hover:dark:text-neutral-400 -ml-0.5"
            >
              <span class="font-extrabold">Bruno Alves.</span>
            </AnimatedShinyText>
          </div>
          <div class="flex relative lg:text-5xl text-3xl lg:gap-4 gap-3">
            <p class="font-extrabold text-foreground">FullStack</p>
            <p class="font-extrabold outline-text text-background">
              {t("hero.dev")}
            </p>
          </div>
        </div>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 lg:w-[600px] text-base text-zinc-500 animate-fade delay-200 opacity-0 fill-mode-forwards"
        >
          {t("hero.description")}
        </p>
      </div>
    </div>
    <div
      class="flex mt-auto gap-8 animate-fade delay-700 opacity-0 fill-mode-forwards"
    >
      <SocialCardLink href="https://github.com/nitoba">
        <Github
          className="size-10 group-hover:text-background"
          fill="currentColor"
        />
      </SocialCardLink>
      <SocialCardLink href="https://www.linkedin.com/in/bruno-alves-882173161/">
        <Linkedin
          className="size-10 group-hover:text-background"
          fill="currentColor"
        />
      </SocialCardLink>
      <SocialCardLink href="https://twitter.com/nito_b_a">
        <Twitter
          className="size-10 group-hover:text-background"
          fill="currentColor"
        />
      </SocialCardLink>
    </div>
  </div>

  <div
    class="order-1 lg:order-2 animate-fade delay-500 opacity-0 fill-mode-forwards"
  >
    <HeroIcon.Desktop className="w-[40.5625rem] h-auto hidden lg:block" />
    <HeroIcon.Mobile className="w-[21.4375rem] h-auto lg:hidden" />
  </div>
</section>
