---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import { BackgroundBeams } from "../components/ui/background-beams";
import Skills from "../components/sections/skills/index.astro";
import AboutMe from "@/components/sections/AboutMe.astro";
import Projects from "@/components/sections/projects/index.astro";
import ContactMe from "@/components/sections/contact/ContactMe.astro";
---

<Layout title="Bruno Alves | Porfolio">
  <main class="space-y-16 pt-20">
    <div class="px-4">
      <Hero />
      <Skills />
      <AboutMe />
    </div>
    <Projects />

    <ContactMe />
  </main>
  <BackgroundBeams client:only />
</Layout>
