---
import { ResumeActionButton } from "./resume-action";
import { NavLink } from "./nav-link";
import Logo from "./Logo.astro";
---

<header
  class="flex justify-start items-start flex-grow-0 flex-shrink-0 overflow-hidden px-20 py-6 mx-auto"
>
  <div
    class="flex justify-between items-center flex-grow-0 flex-shrink-0 w-[1280px] overflow-hidden px-8"
  >
    <Logo />
    <nav
      class="flex justify-center items-center flex-grow-0 flex-shrink-0 gap-8"
    >
      <NavLink href="/">About Me</NavLink>
      <NavLink href="/">Skills</NavLink>
      <NavLink href="/">Projects</NavLink>
      <NavLink href="/">Contact Me</NavLink>
    </nav>
    <ResumeActionButton />
  </div>
</header>
