---
import { ResumeActionButton } from "./resume-action";
import { NavLink } from "./nav-link";
import { NavMenu } from "./nav-menu";
import Logo from "./Logo.astro";
import { Sheet, SheetTrigger } from "./ui/sheet";
import { Button } from "./ui/button";
import { MenuIcon } from "lucide-react";
---

<header
  class="flex justify-start items-start flex-grow-0 flex-shrink-0 overflow-hidden lg:px-20 py-6 mx-auto"
>
  <div
    class="flex justify-between items-center w-full flex-grow-0 flex-shrink-0 lg:w-[1280px] overflow-hidden px-8"
  >
    <a href="/">
      <Logo />
    </a>
    <nav
      class="hidden justify-center items-center flex-grow-0 flex-shrink-0 gap-8 lg:flex"
    >
      <NavLink href="/">About Me</NavLink>
      <NavLink href="/">Skills</NavLink>
      <NavLink href="/">Projects</NavLink>
      <NavLink href="/">Contact Me</NavLink>
    </nav>
    <ResumeActionButton className="hidden lg:flex" />
    <NavMenu client:visible>
      <nav class="justify-center items-center gap-2 flex flex-col mt-14">
        <NavLink href="/">About Me</NavLink>
        <NavLink href="/">Skills</NavLink>
        <NavLink href="/">Projects</NavLink>
        <NavLink href="/">Contact Me</NavLink>
        <ResumeActionButton />
      </nav>
    </NavMenu>
  </div>
</header>
