---
import { ResumeActionButton } from "./resume-action";
import { NavLink } from "./nav-link";
import { NavMenu } from "./nav-menu";
import Logo from "./Logo.astro";
import { ModeToggle } from "@/components/mode-toggle";
import { useTranslation, getLangFromUrl } from "@/i18n/utils";
import { LangToggle } from "./lang-toggle";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<header
  class="flex overflow-hidden lg:px-20 py-6 left-0 mx-auto fixed w-full border-b border-b-border top-0 bg-zinc-50 dark:bg-zinc-900 z-10"
>
  <div class="lg:max-w-screen-xl mx-auto w-full">
    <div
      class="flex justify-between items-center w-full overflow-hidden lg:px-8 px-4"
    >
      <a href="/">
        <Logo />
      </a>
      <nav class="hidden justify-center items-center gap-8 lg:flex">
        <NavLink href="#skills">{t("common.skills")}</NavLink>
        <NavLink href="#about-me">{t("common.about")}</NavLink>
        <NavLink href="#projects">{t("common.projects")}</NavLink>
        <NavLink href="#contact-me">{t("common.contact")}</NavLink>
      </nav>

      <ResumeActionButton className="hidden lg:flex" />

      <NavMenu client:visible>
        <div class="flex items-center gap-3 ml-auto w-fit mt-8">
          <ModeToggle client:load />
          <LangToggle client:only />
        </div>
        <nav class="justify-center items-center gap-2 flex flex-col mt-14">
          <NavLink href="#skills">{t("common.skills")}</NavLink>
          <NavLink href="#about-me">{t("common.about")}</NavLink>
          <NavLink href="#projects">{t("common.projects")}</NavLink>
          <NavLink href="#contact-me">{t("common.contact")}</NavLink>
          <ResumeActionButton />
        </nav>
      </NavMenu>
    </div>
    <div class="absolute right-6 top-6 hidden lg:flex lg:gap-3">
      <ModeToggle client:load />
      <LangToggle client:only />
    </div>
  </div>
</header>
