---
import { cn } from "@/lib/utils";

export interface Props {
  class?: string;
}
---

<div
  class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-3"
>
  <svg
    width="52"
    height="44"
    viewBox="0 0 52 44"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class={cn("size-10", Astro.props.class)}
  >
    <path
      d="M22.8601 0.4151L51.0641 28.505V43.5849H37.9022V33.926L17.4173 13.5237H13.1619V43.5849H0V0.4151H22.8601ZM37.9022 15.3964V0.4151H51.0641V15.3964H37.9022Z"
      fill="currentColor"></path>
  </svg>

  <p
    class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left capitalize text-current"
  >
    NitoDev
  </p>
</div>
