---
import { ProjectCard } from "@/components/sections/projects/project-card";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { DotPattern } from "@/components/ui/dot-pattern";
import { Github } from "lucide-react";
import { projects } from "./projects-data";
import { cn } from "@/lib/utils";

import { useTranslation, getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const projectsInDev = [
  {
    title: "Psyfi",
    link: "https://github.com/nitoba/psyfi",
  },
  {
    title: "Poll Voting",
    link: "https://github.com/nitoba/poll-voting",
  },
];
---

<section
  class="flex flex-col gap-5 bg-foreground w-full px-4 py-5 relative"
  id="projects"
>
  <div class="flex gap-4 py-5 mx-auto mt-8">
    <p class="lg:text-5xl text-4xl text-background">{t("projects.my")}</p>
    <p class="lg:text-5xl text-4xl font-extrabold text-background">
      {t("projects.projects")}
    </p>
  </div>
  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-10 mx-auto max-w-screen-xl"
  >
    {
      projects.map(({ title, description, image, link, type }, i) => (
        <ProjectCard
          project={{
            title,
            description,
            image,
            link,
            type,
          }}
        />
      ))
    }
  </div>
  <Separator className="bg-zinc-700 w-3/4 mx-auto" />
  <div class="flex gap-2 lg:py-5 mx-auto">
    <p class="text-3xl text-background">{t("projects.in")}</p>
    <p class="text-3xl font-extrabold text-background">
      {t("projects.development")}
    </p>
  </div>
  <span class="mx-auto text-zinc-500 lg:text-xl max-w-3xl text-center">
    {t("projects.description_development")}
  </span>
  <div class="flex gap-4 mx-auto">
    {
      projectsInDev.map(({ title, link }) => (
        <a
          href={link}
          target="_blank"
          class="border border-border size-24 px-2 flex flex-col items-center justify-center rounded-sm group hover:bg-background transition-colors duration-300"
        >
          <span class="text-background text-center outline-text font-medium">
            {title}
          </span>
        </a>
      ))
    }
  </div>
  <div class="mx-auto">
    <Button variant="ghost" className="group">
      <a href="https://github.com/nitoba?tab=repositories" target="_blank">
        <span
          class="text-xl inline-flex gap-2 items-center outline-text text-background uppercase font-bold"
        >
          {t("projects.sell_all")}
          <Github
            className="size-5 fill-current group-hover:fill-foreground stroke-current group-hover:stroke-foreground"
          />
        </span>
      </a>
    </Button>
  </div>

  <DotPattern
    className={cn(
      "[mask-image:radial-gradient(ellipse_at_top,white,transparent)]"
    )}
  />
</section>
