---
import { ExternalLink } from "lucide-react";
interface Props {
  title: string;
  description: string;
  link: string;
  image: string;
  orientation: "left" | "right";
  index: number;
}

const { title, description, image, link, orientation, index } = Astro.props;
---

<div
  class="group flex lg:flex-row flex-col items-center lg:gap-10 gap-7 py-5"
  data-orientation={orientation}
>
  <img
    src="https://github.com/nitoba.png"
    class="rounded-2xl object-cover lg:w-[33.125rem] lg:h-[24.858125rem] w-[21.625rem] h-[24.858125rem] lg:group-data-[orientation=left]:order-1 lg:group-data-[orientation=right]:order-2"
    style="box-shadow: 0px 8px 18px -6px rgba(24,39,75,0.12), 0px 12px 42px -4px rgba(24,39,75,0.12);"
  />

  <div
    class="flex flex-col gap-7 lg:group-data-[orientation=left]:order-2 lg:group-data-[orientation=right]:order-1 lg:max-w-[582px]"
  >
    <p class="lg:text-5xl text-2xl font-bold text-background">
      {index.toString().padStart(2, "0")}
    </p>
    <p class="lg:text-[2rem] text-xl font-bold text-background">
      Crypto Screener Application
    </p>
    <p class="text-base text-zinc-500">
      I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to specimen book.
    </p>
    <a href="/" class="w-fit hover:opacity-50 transition-opacity duration-300">
      <ExternalLink className="text-background" />
    </a>
  </div>
</div>
